* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter',Segoe UI,'Arial';

}

body {
    background: linear-gradient(135deg, #000000, #07646b);
    background-image: url('background.png');
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Space Grotesk", sans-serif ;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #e0e6f0;
    margin-bottom: 0;
    letter-spacing: 1px;
    text-shadow: 7px 7px 5px rgb(9, 9, 9);
}

.tagline {
    position: absolute;
    top: 95px;
    font-style: italic;
    font-family: "JetBrains Mono", monospace;
    left: 0;
    font-size: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 100;
    color: rgba(255, 255, 255, 0.774);
    text-shadow: 7px 7px 5px rgb(9, 9, 9);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
}

.tagline {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 1s;
}

.container{
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 1.8s;
}


.container {
    height: fit-content;
    width: auto;
    background-color: rgba(33, 32, 32, 0.079);
    box-shadow: 0 7px 15px rgba(28, 27, 27, 0.091);
    backdrop-filter: blur(10px); 
    padding: 15px;
    border-radius: 7px;
    border: 3px solid rgba(79, 79, 79, 0.101);
    position: fixed;
    z-index: 100;
    opacity: 0;
    box-shadow: 7px 10px 20px rgba(9, 9, 9, 0.459);
}

#display {
    font-size: 66px;
    font-weight: 650;
    max-width: 475px;
    color: #f8f8f8f2;
    cursor: text;
    text-align: right;
    background-color: transparent;
    border: none;
    outline: none;
    padding:20px 0px 3px 10px;
}

.row {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 0 0;
}

.btn-box {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px
}

button {
    font-size: 25px;
    font-weight: 550;
    margin: 0 0 0 10px;
    padding: 12px;
    width: 25%;
    height: 100%;
    border-radius: 100em;
    border: none;
    color: azure;
    background-color: #2627296f;
    border: 0.5px solid #00000023;
    box-shadow: 0 3px 5px rgba(28, 27, 27, 0.305);
    cursor: pointer;
}

.special {
    font-weight: 800;
    background-color: #08214a81;
}

.equal {
    background-color: #4286f496;
    width: 50%;
}

.all-clear {
    background-color: #5f63689a;
}

button:hover {
    box-shadow: 0 6px 15px rgba(40, 40, 40, 0.4);
    background-color: #333538cc;
    transform: translateY(-1px);
    transition: all 0.01s ease; 
}

.special:hover {
    background-color: #08214a81;
}

.equal:hover {
    background-color: #4286f46c;
}

.all-clear:hover {
    background-color: #5f636870;
}

button:active {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    transform: translateY(1px);
    background-color: #1e1f21ab;
    color: #e0e6f0;
}

footer {
    position: absolute;
    bottom: 2vh;
}

footer span p {
    font-family: 'JetBrains Mono','Courier New', Courier, monospace;
    font-style: italic;
    font-size: 12px;
    color: #e0e6f0b6;
}

footer span p a {
    text-decoration: none;
    color: #e0e6f0;
}

footer span p a:hover {
    text-decoration: underline;
    text-shadow: 1px 1px 10px #000000;
}

@media only screen and (min-width: 320px) and (max-width: 530px) {
  button {
    padding: 5 px;
    margin-right: 5px;
  }

  .container {
    width: 95vw;
    display: flex;
    flex-direction: column;
    
  }

  #display {
    width: 85vw;
    right: 4.5vw;
  }
  
}
